.botao {
    margin: 1.5rem auto;
    padding: 10px 100px;
    background-color: var(--very-dark-violet);
    color: var(--branco);
    border: solid 1px var(--violet);
    border-radius: 7px;
    font-family: var(--fonte);
    font-size: 18px;
}

.botao:hover {
    background-color: hsl(278, 94%, 30%);
}

.botao:focus{
    background-color: hsl(249, 99%, 64%);
}

@media screen and (min-width: 1440px) {
    .botao {
        width: 100%;
    }
}